---
type WorkItem = {
    name: string;
    startDate: string;
    endDate?: string;
    position: string;
    summary: string;
    highlights?: string[];
};
import Section from "@/components/Section.astro";

const { cv, title } = Astro.props;
const work: WorkItem[] = Array.isArray(cv?.work) ? cv.work : [];
---

<Section title={title}>
    <ul>
        {
            work.map(
                ({
                    name,
                    startDate,
                    endDate,
                    position,
                    summary,
                    highlights,
                }) => {
                    const startYear = new Date(startDate).getFullYear();
                    const endYear =
                        endDate != null
                            ? new Date(endDate).getFullYear()
                            : "Actual";
                    const years = `${startYear} - ${endYear}`;

                    return (
                        <li>
                            <article>
                                <header>
                                    <div>
                                        <h3>{name}</h3>
                                        <h4>{position}</h4>
                                    </div>

                                    <time>{years}</time>
                                </header>
                                <footer>
                                    <p>{summary}</p>
                                </footer>
                            </article>
                        </li>
                    );
                },
            )
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    li {
        display: grid;
        grid-template-columns: auto 1fr; /* columna del icono + contenido */
        gap: 16px;
    }

    li::before {
        content: "";
        width: 4px;
        height: 32px;
        background-color: var(--text-p);
        border-radius: 2px;
        margin: auto 0;
    }

    article h3 {
        font-weight: 700;
        color: var(--text);
    }

    article h4 {
        color: var(--text-h2);
        font-weight: 500;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    time {
        font-size: 0.85rem;
        color: var(--text-p);
    }
</style>
